<table class="table table-hover">
  <thead class="thead-dark">
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Title</th>
    <th scope="col">Author</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let activity of activities" routerLink="/view/{{activity.id}}">
    <th scope="row">{{activity.id}}</th>
    <td>{{activity.title}}</td>
    <td>{{activity.author}}</td>
  </tr>
  <tr *ngIf="activities.length === 0">
    <th colspan="3" class="text-center">No Activities found</th>
  </tr>
  </tbody>
</table>
