<div class="container">
  <h2>View all Activities</h2>
  <form class="form-inline mb-2 mt-2">
    <label for="formQuery" class="sr-only" name="query">Filter Activities</label>
    <input class="form-control" id="formQuery" [(ngModel)]="query"
           placeholder="Filter Activities..." name="query">
    <button class="btn btn-primary ml-2" (click)="filter()">Filter</button>
    <button class="btn btn-primary ml-2" (click)="removeFilter()" [disabled]="!filterEnabled">Remove Filter</button>
    <button class="btn btn-primary ml-2" (click)="refresh();">Refresh Data</button>
    <button class="btn btn-primary align-content-end ml-2" (click)="openPostModal();">Create Activity</button>
  </form>
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
      </tr>
    </thead>
    <tbody *ngIf="!filterEnabled">
      <tr *ngFor="let activity of activities" routerLink="/view/{{activity.id}}">
        <th scope="row">{{activity.id}}</th>
        <td>{{activity.title}}</td>
        <td>{{activity.author}}</td>
      </tr>
      <tr *ngIf="!hasActivities()">
        <th colspan="3" class="text-center">No Activities submitted</th>
      </tr>
    </tbody>
    <tbody *ngIf="filterEnabled" >
      <tr *ngFor="let activity of filtered" routerLink="/view/{{activity.id}}">
        <th scope="row">{{activity.id}}</th>
        <td>{{activity.title}}</td>
        <td>{{activity.author}}</td>
      </tr>
      <tr *ngIf="filtered.length == 0">
        <th colspan="3" class="text-center">No Activities matching given filter</th>
      </tr>
    </tbody>
  </table>
</div>
