<div class="container">
  <div class="row">
    <div class="col-9">
      <div class="p-2">
        <header class="d-flex">
          <h2>Dashboard</h2>
          <button class="btn btn-info ml-auto align-self-center" (click)="refresh()">
            <i class="fa fa-refresh"></i>
            <span class="ml-1">Refresh</span>
          </button>
          <button class="btn btn-success ml-2 align-self-center" (click)="openPostModal()">
            <i class="fa fa-plus"></i>
            <span class="ml-1">Create Activity</span>
          </button>
        </header>
        <app-list [activities]="activities"></app-list>
      </div>
    </div>
    <div class="col-3">
      <div class="border p-2">
        <h2>Filter</h2>
        <app-filter [filters]="filters"></app-filter>
        <div class="d-flex justify-content-end">
          <button class="btn btn-danger mr-2" [routerLink]="['/dashboard']">
            <i class="fa fa-times"></i>
            <span class="ml-1">Clear</span>
          </button>
          <button class="btn btn-success" (click)="navigate()">
            <i class="fa fa-check"></i>
            <span class="ml-1">Apply</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
