<div class="container-fluid">
  <div class="alert alert-success" *ngIf="published">
    <strong>Hey!</strong> Your post was published successfully. Thank you for your submission.
  </div>

  <div class="card" style="width: 30rem;" *ngIf="fetched">
    <div class="card-body">
      <h4 class="card-title">{{ activity.title }}</h4>
      <p class="card-body">{{ this.shortenText(activity.text) }}</p>
      <a routerLink="/view/{{ activity.id }}" class="btn btn-primary">Go</a>
    </div>
  </div>

  <div *ngIf="!published">
    <div class="alert alert-danger">
      <strong>Ouch!</strong> We could not publish your post. If you got here through your activation link,
      try resubmitting your post!
    </div>
    <img src="http://i.imgur.com/wVpIicX.jpg" class="img-fluid"/>
    <div class="alert alert-info">
      <strong>Note!</strong> Your activation link expires after an hour. You have to resubmit your post
      if you have not activated it within the first hour.
    </div>
  </div>
</div>
