<div class="container">
  <h2>View all Activities</h2>
  <ngb-alert type="success" *ngIf="refreshed" (close)="refreshed=false">Data refreshed!</ngb-alert>
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let activity of activities" (click)="selectActivity(activity)">
        <th scope="row">{{activity.id}}</th>
        <td>{{activity.title}}</td>
        <td>{{activity.author}}</td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-primary" (click)="refresh(); refreshed=true">Refresh Data</button>
</div>
<app-view [activity]="selectedActivity"></app-view>
