<div>
  <div class="container">
    <div class="row">
      <div class="col-md">
        <h2>Trending keywords</h2>
        <table class="table table-bordered table-hover">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Keyword</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let keyword of trendingKeywords" [routerLink]="['dashboard']"
              [queryParams]="{filter: keyword.content}" class="clickable">
            <th scope="row">{{ trendingKeywords.indexOf(keyword) + 1 }}</th>
            <td>
              <span class="badge badge-secondary p-2">
                <i class="fa fa-hashtag"></i>
                <span class="ml-1">{{ keyword.content }}</span>
              </span>
            </td>
          </tr>
          <tr *ngIf="trendingKeywords.length === 0">
            <th colspan="2" class="text-center">Shh! Keywords are asleep</th>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md">
        <h2>Trending activities</h2>
        <table class="table table-hover table-bordered">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Activity</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let activity of trendingPosts" routerLink="/view/{{activity.id}}" class="clickable">
            <th scope="row">{{ trendingPosts.indexOf(activity) + 1 }}</th>
            <td>{{ activity.title }}</td>
          </tr>
          <tr *ngIf="trendingPosts.length === 0">
            <th colspan="2" class="text-center">Shh! Posts are asleep</th>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md">
        <h2>HM represents</h2>
        <table class="table table-hover table-bordered">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Activity</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let activity of trendingHM" routerLink="/view/{{activity.id}}" class="clickable">
            <th scope="row">{{ trendingHM.indexOf(activity) + 1 }}</th>
            <td>{{ activity.title }}</td>
          </tr>
          <tr *ngIf="trendingHM.length === 0">
            <th colspan="2" class="text-center">Shh! HM is sleeping</th>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md">
        <h2>CALPOLY represents</h2>
        <table class="table table-hover table-bordered">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Activity</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let activity of trendingCALPOLY" routerLink="/view/{{activity.id}}" class="clickable">
            <th scope="row">{{ trendingCALPOLY.indexOf(activity) + 1 }}</th>
            <td>{{ activity.title }}</td>
          </tr>
          <tr *ngIf="trendingCALPOLY.length === 0">
            <th colspan="2" class="text-center">Shh! CALPOLY is sleeping</th>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
