<form (ngSubmit)="onSubmit(); activityForm.reset()" #activityForm="ngForm">
  <div class="modal-header">
    <h3>Post Activity</h3>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="formAuthor">Author</label>
      <input [(ngModel)]="toBePosted.author" class="form-control"
             placeholder="Your name" #author="ngModel"
             required name="author" id="formAuthor">
      <div [hidden]="author.valid || author.pristine" class="alert alert-danger">Author is required!</div>
    </div>
    <div class="form-group">
      <label for="formEmail">Email</label>
      <input [(ngModel)]="toBePosted.email" class="form-control"
             placeholder="Email for authentication" #email="ngModel"
             required name="email" email id="formEmail">
      <div [hidden]="email.valid || email.pristine" class="alert alert-danger">Valid email is required!</div>
    </div>
    <div class="form-group">
      <label for="formTitle">Title</label>
      <input [(ngModel)]="toBePosted.title" class="form-control"
             placeholder="Title of your activity" #title="ngModel"
             required name="title" id="formTitle">
      <div [hidden]="title.valid || title.pristine" class="alert alert-danger">Title is required!</div>
    </div>
    <div class="form-group">
      <label for="formText">Text</label>
      <textarea [(ngModel)]="toBePosted.text" class="form-control"
                placeholder="Description of your activity" #text="ngModel"
                required name="text" id="formText"></textarea>
      <div [hidden]="text.valid || text.pristine" class="alert alert-danger">Text is required!</div>
    </div>
    <div class="form-group">
      <label for="formTags">Tags <small>{{toBePosted.keywords.length}} selected</small></label>
      <div id="formTags">
        <span class="badge p-2 ml-2" *ngFor="let keyword of keywords.slice(0, limit)"
              (click)="toggleKeyword(keyword)"
              [class.badge-primary]="toBePosted.keywords.indexOf(keyword)>-1"
              [class.badge-secondary]="toBePosted.keywords.indexOf(keyword)<0">
          {{keyword.content}}
        </span>
        <button *ngIf="limit != keywords.length" class="btn btn-link"
                (click)="showMore()">show more...</button>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-outline-danger" (click)="activeModal.close()">Cancel</button>
    <input type="submit" class="btn btn-outline-primary"
           value="Submit Activity"
           [disabled]="!activityForm.form.valid">
  </div>
</form>
