<div class="container">
  <h2>Post Activity</h2>
  <ngb-alert type="info" *ngIf="submitted" (close)="dismissAlert()">
    <strong>Thank you very much!</strong> Check your mails so you can post your activity!
  </ngb-alert>
  <form (ngSubmit)="onSubmit()" #activityForm="ngForm">
    <div class="form-group">
      <label>Author</label>
      <input [(ngModel)]="toBePosted.author" class="form-control" required name="author">
    </div>
    <div class="form-group">
      <label>Email</label>
      <input [(ngModel)]="toBePosted.email" class="form-control" required name="email" email>
    </div>
    <div class="form-group">
      <label>Title: </label>
      <input [(ngModel)]="toBePosted.title" class="form-control" required name="title">
    </div>
    <div class="form-group">
      <label>Text</label>
      <textarea [(ngModel)]="toBePosted.text" class="form-control" required name="text"></textarea>
    </div>
    <input type="submit" class="btn" [disabled]="!activityForm.form.valid">
  </form>
  TODO Das hier entfernen:
  <code>
    {{diagnostic}}
  </code>
</div>
