<div class="container">
  <h2>Post Activity</h2>
  <div class="form-group">
    <label>Author</label>
    <input [(ngModel)]="toBePosted.author" class="form-control">
  </div>
  <div class="form-group">
    <label>Email</label>
    <input [(ngModel)]="toBePosted.email" class="form-control">
  </div>
  <div class="form-group">
    <label>Title: </label>
    <input [(ngModel)]="toBePosted.title" class="form-control">
  </div>
  <div class="form-group">
    <label>Text</label>
    <textarea [(ngModel)]="toBePosted.text" class="form-control"></textarea>
  </div>
  <form (ngSubmit)="onSubmit()">
    <input type="submit" class="btn">
  </form>
</div>
