<div class="container">
  <h2>Post Activity</h2>
  <ngb-alert type="info" *ngIf="submitted" (close)="dismissAlert()">
    <strong>Thank you very much!</strong> Check your mails so you can post your activity!
  </ngb-alert>
  <form (ngSubmit)="onSubmit(); activityForm.reset()" #activityForm="ngForm">
    <div class="form-group">
      <label for="formAuthor">Author</label>
      <input [(ngModel)]="toBePosted.author" class="form-control"
             placeholder="Your name" #author="ngModel"
             required name="author" id="formAuthor">
      <div [hidden]="author.valid || author.pristine" class="alert alert-danger">Author is required!</div>
    </div>
    <div class="form-group">
      <label for="formEmail">Email</label>
      <input [(ngModel)]="toBePosted.email" class="form-control"
             placeholder="Email for authentication" #email="ngModel"
             required name="email" email id="formEmail">
      <div [hidden]="email.valid || email.pristine" class="alert alert-danger">Valid email is required!</div>
    </div>
    <div class="form-group">
      <label for="formTitle">Title: </label>
      <input [(ngModel)]="toBePosted.title" class="form-control"
             placeholder="Title of your activity" #title="ngModel"
             required name="title" id="formTitle">
      <div [hidden]="title.valid || title.pristine" class="alert alert-danger">Title is required!</div>
    </div>
    <div class="form-group">
      <label for="formText">Text</label>
      <textarea [(ngModel)]="toBePosted.text" class="form-control"
                placeholder="Description of your activity" #text="ngModel"
                required name="text" id="formText"></textarea>
      <div [hidden]="text.valid || text.pristine" class="alert alert-danger">Text is required!</div>
    </div>
    <input type="submit" class="btn btn-block btn-primary"
           value="Submit Activity"
           [disabled]="!activityForm.form.valid">
  </form>
  TODO Remove this diagnostic data:
  <code>
    {{diagnostic}}
  </code>
</div>
